absl-py
annotated-types
anyio
astunparse
certifi
charset-normalizer
click
colorama
contourpy
cycler
dnspython
fastapi
flatbuffers
fonttools
gast
google-pasta
grpcio
h11
h5py
idna
imageio
keras
kiwisolver
lazy_loader
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
motor
namex
networkx
numpy
opencv-python
opt_einsum
optree
packaging
pillow
protobuf
pydantic
pydantic_core
Pygments
pymongo
pyparsing
python-dateutil
python-multipart
requests
rich
scikit-image
scipy
six
sniffio
starlette
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tifffile
typing_extensions
urllib3
uvicorn
watchdog
Werkzeug
wrapt
